#header_inicio {
    height: 90vh;
    display: flex;
    flex-direction: row;
}

#header_inicio section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.articulo_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.articulo_inicio h1 {
    color: #5D5A88;
    font-size: 40px;
}

.articulo_inicio p {
    color: #5D5A88;
    font-size: 24px;
}

.botones_principales {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.botones_principales button {
    position: inherit;
}

header aside {
    height: 90vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_inicio {
    width: 45vw;
    height: fit-content;
}

.App main {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.App main section {
    width: 80vw;
}

.App main section article:nth-child(1) {
    text-align: center;
}

.App main article:nth-child(2) {
    padding: 20px 0;
}
.App main article div {
    display: flex;
    justify-content: space-between;
}
.App main article div div {
    /* padding: 20px 0; */
    margin: 20px 10px;
    display: block;
}

#CardEmpleos {
    display: flex;
    justify-content: space-evenly;
    color: #5D5A88;
}

#CardEmpleos > div:hover {
    background-color: #bebdbd63;
}
