@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');



nav {

    height: 10vh;
    background-color: #BEBDBD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1;

}
nav a {
    text-decoration: none;
}

nav button {
    font-family: 'DM Sans' !important;
    /* font-weight: bold !important; */
}
.navbar_login button {
    margin: 0 15px;
}

#logo {
    /* border-color: black; */
    /* border-style: solid; */
    /* border: 30px; */
    /* height: 8vh; */
    /* width: 135px; */
    height: 9vh;
}

