#SecundaryNavBar {
    height: 65px;
    width: 100%;
    background-color: #BEBDBD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#SecundaryNavBar .boton_nav {
    width: 144px;
    height: 40px;
    border-color: #5d5a88;
    background-color: #5D5A88;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

#SecundaryNavBar aside {
    display: flex;
    align-items: center;
}

#SecundaryNavBar aside img {
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    margin: 0 10px;
}

.nav_espacio {
    height: 10vh;
}

.ContenidoCurso {
    background-color: #BEBDBD;
}